Repository prebid/prebid-server-java, pull requests merged in 2021-12, with the labels that each got.

#1576 Bump dependencies
  .github/workflows/pr-java-ci.yml
  extra/bundle/pom.xml
  extra/modules/pom.xml
  pom.xml
  src/test/groovy/org/prebid/server/functional/testcontainers/Dependencies.groovy
  src/test/groovy/org/prebid/server/functional/testcontainers/container/NetworkServiceContainer.groovy
  src/test/groovy/org/prebid/server/functional/tests/AuctionSpec.groovy
  src/test/groovy/org/prebid/server/functional/util/AllureReporter.groovy
  src/test/resources/META-INF/aop-ajc.xml
  src/test/resources/META-INF/services/org.spockframework.runtime.extension.IGlobalExtension
  src/test/resources/org/prebid/server/it/deals/test-deals-application.properties
Labels: dependencies

#1614 Price Floors: Bidder enforcement proposal
  src/main/java/org/prebid/server/bidder/model/BidderBid.java
  src/main/java/org/prebid/server/bidder/model/PriceFloorInfo.java
  src/main/java/org/prebid/server/util/BidderUtil.java
  src/test/java/org/prebid/server/util/BidderUtilTest.java
Labels: feature

#1602 Price Floors: Add rules fetcher
  src/main/java/org/prebid/server/floors/PriceFloorFetcher.java
  src/main/java/org/prebid/server/floors/model/PriceFloorData.java
  src/main/java/org/prebid/server/floors/model/PriceFloorField.java
  src/main/java/org/prebid/server/floors/model/PriceFloorModelGroup.java
  src/main/java/org/prebid/server/floors/model/PriceFloorRules.java
  src/main/java/org/prebid/server/floors/model/PriceFloorSchema.java
  src/main/java/org/prebid/server/metric/Metrics.java
  src/main/java/org/prebid/server/metric/PriceFloorMetrics.java
  src/main/java/org/prebid/server/spring/config/PriceFloorsConfiguration.java
  src/main/java/org/prebid/server/vertx/http/BasicHttpClient.java
  src/main/java/org/prebid/server/vertx/http/CircuitBreakerSecuredHttpClient.java
  src/main/java/org/prebid/server/vertx/http/HttpClient.java
  src/test/java/org/prebid/server/floors/PriceFloorFetcherTest.java
  src/test/java/org/prebid/server/metric/MetricsTest.java
  src/test/java/org/prebid/server/vertx/http/CircuitBreakerSecuredHttpClientTest.java
Labels: feature

#1623 Remove flaky tests for timeout
  src/test/groovy/org/prebid/server/functional/tests/CookieSyncSpec.groovy
  src/test/groovy/org/prebid/server/functional/tests/EventSpec.groovy
  src/test/groovy/org/prebid/server/functional/tests/SetuidSpec.groovy
  src/test/groovy/org/prebid/server/functional/tests/VtrackSpec.groovy
Labels: tests

#1595 Price Floors: Implement enforcement
  src/main/java/org/prebid/server/auction/ExchangeService.java
  src/main/java/org/prebid/server/bidder/model/BidderBid.java
  src/main/java/org/prebid/server/bidder/model/PriceFloorInfo.java
  src/main/java/org/prebid/server/floors/BasicPriceFloorEnforcer.java
  src/main/java/org/prebid/server/floors/PriceFloorEnforcer.java
  src/main/java/org/prebid/server/proto/openrtb/ext/request/ExtRequestPrebid.java
  src/main/java/org/prebid/server/proto/openrtb/ext/request/ExtRequestPrebidFloors.java
  src/main/java/org/prebid/server/proto/openrtb/ext/request/ExtRequestPrebidFloorsEnforcement.java
  src/main/java/org/prebid/server/spring/config/PriceFloorsConfiguration.java
  src/main/java/org/prebid/server/spring/config/ServiceConfiguration.java
  src/main/java/org/prebid/server/util/BidderUtil.java
  src/main/resources/application.yaml
  src/test/java/org/prebid/server/auction/ExchangeServiceTest.java
  src/test/java/org/prebid/server/floors/BasicPriceFloorEnforcerTest.java
  src/test/java/org/prebid/server/util/BidderUtilTest.java
Labels: feature

#1634 Tests for default request
  src/test/groovy/org/prebid/server/functional/testcontainers/container/PrebidServerContainer.groovy
  src/test/groovy/org/prebid/server/functional/tests/AmpSpec.groovy
  src/test/groovy/org/prebid/server/functional/tests/AuctionSpec.groovy
  src/test/groovy/org/prebid/server/functional/tests/BidValidationSpec.groovy
  src/test/groovy/org/prebid/server/functional/tests/BidderParamsSpec.groovy
  src/test/groovy/org/prebid/server/functional/tests/DealsSpec.groovy
  src/test/groovy/org/prebid/server/functional/tests/DebugSpec.groovy
  src/test/groovy/org/prebid/server/functional/tests/InfoBiddersSpec.groovy
  src/test/groovy/org/prebid/server/functional/util/PBSUtils.groovy
Labels: tests

#1658 Stabilize test for default request
  src/test/groovy/org/prebid/server/functional/tests/AmpSpec.groovy
  src/test/groovy/org/prebid/server/functional/tests/AuctionSpec.groovy
  src/test/groovy/org/prebid/server/functional/tests/BaseSpec.groovy
  src/test/groovy/org/prebid/server/functional/tests/BidValidationSpec.groovy
  src/test/groovy/org/prebid/server/functional/tests/BidderParamsSpec.groovy
  src/test/groovy/org/prebid/server/functional/tests/DealsSpec.groovy
  src/test/groovy/org/prebid/server/functional/tests/DebugSpec.groovy
  src/test/groovy/org/prebid/server/functional/tests/InfoBiddersSpec.groovy
Labels: tests

#1655 Tests: Make container count to be configurable
  .github/workflows/pr-functional-tests.yml
  pom.xml
  src/test/groovy/org/prebid/server/functional/testcontainers/Dependencies.groovy
  src/test/groovy/org/prebid/server/functional/testcontainers/PbsServiceFactory.groovy
  src/test/groovy/org/prebid/server/functional/util/PBSUtils.groovy
Labels: tests
