Repository prebid/prebid-server-java, pull requests merged in 2025-01, with the labels that each got.

#3642 Smaato: Send imp.ext object
  src/main/java/org/prebid/server/bidder/smaato/SmaatoBidder.java
  src/test/java/org/prebid/server/bidder/smaato/SmaatoBidderTest.java
  src/test/resources/org/prebid/server/it/openrtb2/smaato/test-auction-smaato-request.json
  src/test/resources/org/prebid/server/it/openrtb2/smaato/test-smaato-bid-request.json
Labels: do not port

#3643 Flipp: use height value from server response
  src/main/java/org/prebid/server/bidder/flipp/FlippBidder.java
  src/test/java/org/prebid/server/bidder/flipp/FlippBidderTest.java
  src/test/resources/org/prebid/server/it/openrtb2/flipp/test-auction-flipp-response.json
Labels: do not port

#3652 Pubmatic: Bidder Updates
  src/main/java/org/prebid/server/bidder/pubmatic/PubmaticBidder.java
  src/test/java/org/prebid/server/bidder/pubmatic/PubmaticBidderTest.java
  src/test/resources/org/prebid/server/it/openrtb2/pubmatic/test-pubmatic-bid-request.json
Labels: do not port

#3647 Insticator: Add Bidder
  src/main/java/org/prebid/server/bidder/insticator/InsticatorBidder.java
  src/main/java/org/prebid/server/bidder/insticator/InsticatorExtRequest.java
  src/main/java/org/prebid/server/bidder/insticator/InsticatorExtRequestCaller.java
  src/main/java/org/prebid/server/proto/openrtb/ext/request/insticator/ExtImpInsticator.java
  src/main/java/org/prebid/server/spring/config/bidder/InsticatorConfiguration.java
  src/main/resources/bidder-config/insticator.yaml
  src/main/resources/static/bidder-params/insticator.json
  src/test/java/org/prebid/server/bidder/insticator/InsticatorBidderTest.java
  src/test/java/org/prebid/server/it/InsticatorTest.java
  src/test/resources/org/prebid/server/it/openrtb2/insticator/test-auction-insticator-request.json
  src/test/resources/org/prebid/server/it/openrtb2/insticator/test-auction-insticator-response.json
  src/test/resources/org/prebid/server/it/openrtb2/insticator/test-insticator-bid-request.json
  src/test/resources/org/prebid/server/it/openrtb2/insticator/test-insticator-bid-response.json
  src/test/resources/org/prebid/server/it/test-application.properties
Labels: do not port

#3651 Test: Bidder specific `tmax`
  src/test/groovy/org/prebid/server/functional/tests/TimeoutSpec.groovy
Labels: tests

#3646 Test: Price floors max rules dimensions
  src/test/groovy/org/prebid/server/functional/model/config/AccountPriceFloorsConfig.groovy
  src/test/groovy/org/prebid/server/functional/model/config/PriceFloorsFetch.groovy
  src/test/groovy/org/prebid/server/functional/model/request/auction/ExtPrebidFloors.groovy
  src/test/groovy/org/prebid/server/functional/tests/pricefloors/PriceFloorsBaseSpec.groovy
  src/test/groovy/org/prebid/server/functional/tests/pricefloors/PriceFloorsFetchingSpec.groovy
  src/test/groovy/org/prebid/server/functional/tests/pricefloors/PriceFloorsRulesSpec.groovy
  src/test/groovy/org/prebid/server/functional/tests/pricefloors/PriceFloorsSignalingSpec.groovy
Labels: tests

#3658 Test: setuid tcf support
  src/test/groovy/org/prebid/server/functional/tests/SetUidSpec.groovy
  src/test/groovy/org/prebid/server/functional/tests/privacy/GdprSetUidSpec.groovy
Labels: tests

#3659 Update functional tests for fpd fields
  src/test/groovy/org/prebid/server/functional/tests/AmpFpdSpec.groovy
Labels: tests

#3655 Test: `bidder aliases`
  src/test/groovy/org/prebid/server/functional/model/bidder/BidderName.groovy
  src/test/groovy/org/prebid/server/functional/model/request/auction/Bidder.groovy
  src/test/groovy/org/prebid/server/functional/tests/AliasSpec.groovy
  src/test/groovy/org/prebid/server/functional/tests/ImpRequestSpec.groovy
Labels: tests

#3676 Tests: Increase coverage for setUid endpoint
  src/test/groovy/org/prebid/server/functional/tests/SetUidSpec.groovy
  src/test/groovy/org/prebid/server/functional/tests/privacy/GdprSetUidSpec.groovy
Labels: tests

#3675 Setuid: Cookie Family Fix
  src/main/java/org/prebid/server/cookie/CookieSyncService.java
  src/main/java/org/prebid/server/handler/SetuidHandler.java
  src/main/java/org/prebid/server/util/StreamUtil.java
  src/test/groovy/org/prebid/server/functional/tests/SetUidSpec.groovy
  src/test/groovy/org/prebid/server/functional/tests/privacy/GdprSetUidSpec.groovy
  src/test/java/org/prebid/server/handler/SetuidHandlerTest.java
Labels: do not port

#3660 Metax: Update bidder (#3631)
  src/main/java/org/prebid/server/bidder/metax/MetaxBidder.java
  src/test/java/org/prebid/server/bidder/metax/MetaxBidderTest.java
Labels: do not port

#3673 Adnuntius: Use format=prebidServer on adserver requests
  src/main/java/org/prebid/server/bidder/adnuntius/AdnuntiusBidder.java
  src/test/java/org/prebid/server/bidder/adnuntius/AdnuntiusBidderTest.java
Labels: do not port

#3688 Tests: Eidpermissions Request Validation Update
  src/test/groovy/org/prebid/server/functional/tests/EidsSpec.groovy
Labels: tests

#3692 Test: Buyeruid scrubbed metric
  src/test/groovy/org/prebid/server/functional/tests/privacy/GdprAuctionSpec.groovy
Labels: tests

#3634 Test: `Transition PAAPI parameters`
  src/test/groovy/org/prebid/server/functional/model/bidder/BidderName.groovy
  src/test/groovy/org/prebid/server/functional/model/config/AccountAuctionConfig.groovy
  src/test/groovy/org/prebid/server/functional/model/request/auction/AuctionEnvironment.groovy
  src/test/groovy/org/prebid/server/functional/model/request/auction/Bidder.groovy
  src/test/groovy/org/prebid/server/functional/model/request/auction/ImpExt.groovy
  src/test/groovy/org/prebid/server/functional/model/request/auction/InterestGroupAuctionSupport.groovy
  src/test/groovy/org/prebid/server/functional/model/request/auction/PaaFormat.groovy
  src/test/groovy/org/prebid/server/functional/model/request/auction/Prebid.groovy
  src/test/groovy/org/prebid/server/functional/model/response/auction/BidResponseExt.groovy
  src/test/groovy/org/prebid/server/functional/model/response/auction/InterestGroupAuctionBuyer.groovy
  src/test/groovy/org/prebid/server/functional/model/response/auction/InterestGroupAuctionBuyerExt.groovy
  src/test/groovy/org/prebid/server/functional/model/response/auction/InterestGroupAuctionIntent.groovy
  src/test/groovy/org/prebid/server/functional/model/response/auction/InterestGroupAuctionIntentExt.groovy
  src/test/groovy/org/prebid/server/functional/model/response/auction/InterestGroupAuctionSeller.groovy
  src/test/groovy/org/prebid/server/functional/model/response/auction/InterestGroupAuctionSellerExt.groovy
  src/test/groovy/org/prebid/server/functional/model/response/auction/OpenxBidResponse.groovy
  src/test/groovy/org/prebid/server/functional/tests/BidderParamsSpec.groovy
  src/test/groovy/org/prebid/server/functional/tests/bidder/openx/OpenxSpec.groovy
Labels: tests

#3691 Tests: Multiple Uids Cookies Support
  src/test/groovy/org/prebid/server/functional/model/UidsCookie.groovy
  src/test/groovy/org/prebid/server/functional/model/request/setuid/SetuidRequest.groovy
  src/test/groovy/org/prebid/server/functional/model/request/setuid/UidWithExpiry.groovy
  src/test/groovy/org/prebid/server/functional/model/response/setuid/SetuidResponse.groovy
  src/test/groovy/org/prebid/server/functional/service/PrebidServerService.groovy
  src/test/groovy/org/prebid/server/functional/tests/SetUidSpec.groovy
  src/test/groovy/org/prebid/server/functional/util/ObjectMapperWrapper.groovy
Labels: tests

#3706 Tests: Fix Bidder Aliases Validation
  src/test/groovy/org/prebid/server/functional/tests/AliasSpec.groovy
Labels: tests

#3674 Buyeruid Scrubbed Metric
  src/main/java/org/prebid/server/auction/privacy/enforcement/TcfEnforcement.java
  src/main/java/org/prebid/server/metric/MetricName.java
  src/main/java/org/prebid/server/metric/Metrics.java
  src/main/java/org/prebid/server/spring/config/PrivacyServiceConfiguration.java
  src/test/groovy/org/prebid/server/functional/tests/privacy/GdprAuctionSpec.groovy
  src/test/java/org/prebid/server/auction/privacy/enforcement/TcfEnforcementTest.java
  src/test/java/org/prebid/server/metric/MetricsTest.java
Labels: do not port

#3696 Fix Bidder Aliases Validation
  src/main/java/org/prebid/server/validation/ImpValidator.java
  src/test/groovy/org/prebid/server/functional/tests/AliasSpec.groovy
  src/test/java/org/prebid/server/validation/ImpValidatorTest.java
Labels: do not port

#3704 Fix issue with connection for tests
  src/test/groovy/org/prebid/server/functional/tests/BaseSpec.groovy
  src/test/groovy/org/prebid/server/functional/tests/module/AbTestingModuleSpec.groovy
  src/test/groovy/org/prebid/server/functional/tests/module/GeneralModuleSpec.groovy
  src/test/groovy/org/prebid/server/functional/tests/module/analyticstag/AnalyticsTagsModuleSpec.groovy
  src/test/groovy/org/prebid/server/functional/tests/module/ortb2blocking/Ortb2BlockingSpec.groovy
  src/test/groovy/org/prebid/server/functional/tests/module/pbrequestcorrection/PbRequestCorrectionSpec.groovy
  src/test/groovy/org/prebid/server/functional/tests/module/responsecorrenction/ResponseCorrectionSpec.groovy
  src/test/groovy/org/prebid/server/functional/tests/module/richmedia/RichMediaFilterSpec.groovy
  src/test/groovy/org/prebid/server/functional/tests/privacy/GdprSetUidSpec.groovy
  src/test/groovy/org/prebid/server/functional/tests/privacy/GppCookieSyncSpec.groovy
  src/test/groovy/org/prebid/server/functional/tests/privacy/GppSyncUserActivitiesSpec.groovy
  src/test/groovy/org/prebid/server/functional/tests/privacy/PrivacyBaseSpec.groovy
  src/test/groovy/org/prebid/server/functional/tests/privacy/TcfBasicTransmitEidsActivitiesSpec.groovy
  src/test/groovy/org/prebid/server/functional/tests/privacy/TransmitEidsOrtbConverterActivitiesSpec.groovy
Labels: tests, do not port

#3716 Test: Change the type of `igs` to not be an arrays
  src/test/groovy/org/prebid/server/functional/model/request/auction/ImpExt.groovy
  src/test/groovy/org/prebid/server/functional/tests/BidderParamsSpec.groovy
  src/test/groovy/org/prebid/server/functional/tests/bidder/openx/OpenxSpec.groovy
Labels: tests
